/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

/* Info Box */

.responsive-block-editor-addons-ifb-icon-wrap,
.responsive-block-editor-addons-ifb-icon-wrap * {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.responsive-block-editor-addons-ifb-icon-wrap
  .responsive-block-editor-addons-ifb-icon,
.responsive-block-editor-addons-ifb-content {
  display: inline-block;
}

.responsive-block-editor-addons-ifb-icon svg {
  width: inherit;
  height: inherit;
  vertical-align: baseline;
}

.infobox-icon-above-title .responsive-block-editor-addons-ifb-left-right-wrap {
  text-align: center;
}

a.responsive-block-editor-addons-infobox-cta-link span {
  font-size: inherit;
}
.responsive-block-editor-addons-ifb-cta.responsive-block-editor-addons-infobox-cta-link-style:empty {
  display: none;
}
a.responsive-block-editor-addons-infobox-cta-link,
.entry .entry-content a.responsive-block-editor-addons-infobox-cta-link,
a.responsive-block-editor-addons-infobox-link-wrap,
.entry .entry-content a.responsive-block-editor-addons-infobox-link-wrap {
  text-decoration: none;
}
a.responsive-block-editor-addons-infobox-cta-link:hover,
.entry .entry-content a.responsive-block-editor-addons-infobox-cta-link:hover,
a.responsive-block-editor-addons-infobox-link-wrap:hover,
.entry
  .entry-content
  a.responsive-block-editor-addons-infobox-link-wrap:hover
  .entry
  .entry-content
  a.responsive-block-editor-addons-infobox-cta-link:hover {
  color: inherit;
}
.responsive-block-editor-addons-infobox-icon-left-title.responsive-block-editor-addons-infobox-image-valign-middle
  .responsive-block-editor-addons-ifb-title-wrap,
.responsive-block-editor-addons-infobox-icon-right-title.responsive-block-editor-addons-infobox-image-valign-middle
  .responsive-block-editor-addons-ifb-title-wrap,
.responsive-block-editor-addons-infobox-image-valign-middle
  .responsive-block-editor-addons-ifb-imgicon-wrap,
.responsive-block-editor-addons-infobox-icon-left.responsive-block-editor-addons-infobox-image-valign-middle
  .responsive-block-editor-addons-ifb-content,
.responsive-block-editor-addons-infobox-icon-right.responsive-block-editor-addons-infobox-image-valign-middle
  .responsive-block-editor-addons-ifb-content {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

@media only screen and (max-width: 976px) {
    .responsive-block-editor-addons-infobox-icon-left-title.responsive-block-editor-addons-infobox-image-valign-tablet-middle
    .responsive-block-editor-addons-ifb-title-wrap,
  .responsive-block-editor-addons-infobox-icon-right-title.responsive-block-editor-addons-infobox-image-valign-tablet-middle
    .responsive-block-editor-addons-ifb-title-wrap,
  .responsive-block-editor-addons-infobox-image-valign-tablet-middle
    .responsive-block-editor-addons-ifb-imgicon-wrap,
  .responsive-block-editor-addons-infobox-icon-left.responsive-block-editor-addons-infobox-image-valign-tablet-middle
    .responsive-block-editor-addons-ifb-content,
  .responsive-block-editor-addons-infobox-icon-right.responsive-block-editor-addons-infobox-image-valign-tablet-middle
    .responsive-block-editor-addons-ifb-content {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
  }
  .responsive-block-editor-addons-infobox-icon-left-title.responsive-block-editor-addons-infobox-image-valign-tablet-top
    .responsive-block-editor-addons-ifb-title-wrap,
  .responsive-block-editor-addons-infobox-icon-right-title.responsive-block-editor-addons-infobox-image-valign-tablet-top
    .responsive-block-editor-addons-ifb-title-wrap,
  .responsive-block-editor-addons-infobox-image-valign-tablet-top
    .responsive-block-editor-addons-ifb-imgicon-wrap,
  .responsive-block-editor-addons-infobox-icon-left.responsive-block-editor-addons-infobox-image-valign-tablet-top
    .responsive-block-editor-addons-ifb-content,
  .responsive-block-editor-addons-infobox-icon-right.responsive-block-editor-addons-infobox-image-valign-tablet-top
    .responsive-block-editor-addons-ifb-content {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  .responsive-block-editor-addons-infobox-icon-left-title.responsive-block-editor-addons-infobox-image-valign-mobile-middle
  .responsive-block-editor-addons-ifb-title-wrap,
.responsive-block-editor-addons-infobox-icon-right-title.responsive-block-editor-addons-infobox-image-valign-mobile-middle
  .responsive-block-editor-addons-ifb-title-wrap,
.responsive-block-editor-addons-infobox-image-valign-mobile-middle
  .responsive-block-editor-addons-ifb-imgicon-wrap,
.responsive-block-editor-addons-infobox-icon-left.responsive-block-editor-addons-infobox-image-valign-mobile-middle
  .responsive-block-editor-addons-ifb-content,
.responsive-block-editor-addons-infobox-icon-right.responsive-block-editor-addons-infobox-image-valign-mobile-middle
  .responsive-block-editor-addons-ifb-content {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.responsive-block-editor-addons-infobox-icon-left-title.responsive-block-editor-addons-infobox-image-valign-mobile-top
  .responsive-block-editor-addons-ifb-title-wrap,
.responsive-block-editor-addons-infobox-icon-right-title.responsive-block-editor-addons-infobox-image-valign-mobile-top
  .responsive-block-editor-addons-ifb-title-wrap,
.responsive-block-editor-addons-infobox-image-valign-mobile-top
  .responsive-block-editor-addons-ifb-imgicon-wrap,
.responsive-block-editor-addons-infobox-icon-left.responsive-block-editor-addons-infobox-image-valign-mobile-top
  .responsive-block-editor-addons-ifb-content,
.responsive-block-editor-addons-infobox-icon-right.responsive-block-editor-addons-infobox-image-valign-mobile-top
  .responsive-block-editor-addons-ifb-content {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: flex-start;
}
}
.responsive-block-editor-addons-infobox-left {
  text-align: left;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
}

.responsive-block-editor-addons-infobox-center {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.responsive-block-editor-addons-infobox-right {
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
}

.responsive-block-editor-addons-ifb-left-right-wrap {
  width: 100%;
  word-break: break-word;
}

.responsive-block-editor-addons-infobox-icon-above-title
  .responsive-block-editor-addons-ifb-left-right-wrap,
.responsive-block-editor-addons-infobox-icon-below-title
  .responsive-block-editor-addons-ifb-left-right-wrap {
  display: block;
  min-width: 100%;
  width: 100%;
}

/* Left/Right of Title */
.responsive-block-editor-addons-infobox-icon-left-title
  .responsive-block-editor-addons-ifb-icon-wrap,
.responsive-block-editor-addons-infobox-icon-left
  .responsive-block-editor-addons-ifb-icon-wrap {
  margin-right: 10px;
}

.responsive-block-editor-addons-infobox-icon-right-title
  .responsive-block-editor-addons-ifb-icon-wrap,
.responsive-block-editor-addons-infobox-icon-right
  .responsive-block-editor-addons-ifb-icon-wrap {
  margin-left: 10px;
}

/* Left/Right */
.responsive-block-editor-addons-infobox-icon-left
  .responsive-block-editor-addons-ifb-left-right-wrap,
.responsive-block-editor-addons-infobox-icon-right
  .responsive-block-editor-addons-ifb-left-right-wrap,
.responsive-block-editor-addons-infobox-icon-left-title
  .responsive-block-editor-addons-ifb-left-title-image,
.responsive-block-editor-addons-infobox-icon-right-title
  .responsive-block-editor-addons-ifb-right-title-image {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.responsive-block-editor-addons-infobox-icon-right
  .responsive-block-editor-addons-ifb-left-right-wrap,
.responsive-block-editor-addons-infobox-icon-right-title
  .responsive-block-editor-addons-ifb-right-title-image {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
}

/* Above/Below Title */
.responsive-block-editor-addons-ifb-icon-wrap
  .responsive-block-editor-addons-ifb-icon
  span {
  font-style: initial;
  height: auto;
  width: auto;
}

/* Infobox image css */
.responsive-block-editor-addons-ifb-imgicon-wrap
  .responsive-block-editor-addons-ifb-image-content {
  display: inline-block;
  line-height: 0;
  position: relative;
  max-width: 100%;
}

.responsive-block-editor-addons-ifb-imgicon-wrap
  .responsive-block-editor-addons-ifb-image-content
  img {
  display: inline;
  height: auto !important;
  max-width: 100%;
  width: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: inherit;
  border-radius: inherit;
}

.responsive-block-editor-addons-ifb-imgicon-wrap
  .responsive-block-editor-addons-image-crop-circle
  img {
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.responsive-block-editor-addons-ifb-imgicon-wrap
  .responsive-block-editor-addons-image-crop-square
  img {
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* Info box complete box link css */
.responsive-block-editor-addons-infobox-module-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}

.responsive-block-editor-addons-edit-mode
  .responsive-block-editor-addons-infobox-module-link {
  z-index: 2;
}

.responsive-block-editor-addons-infobox-link-icon-after {
  margin-left: 5px;
  margin-right: 0;
}

.responsive-block-editor-addons-infobox-link-icon-before {
  margin-left: 0;
  margin-right: 5px;
}

.responsive-block-editor-addons-infobox-link-icon {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.responsive-block-editor-addons-ifb-separator {
  width: 30%;
  border-top-width: 2px;
  border-top-color: #333;
  border-top-style: solid;
  display: inline-block;
  margin: 0;
}
.responsive-block-editor-addons-ifb-separator-parent {
  line-height: 0em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.responsive-block-editor-addons-ifb-cta-button {
  display: inline-block;
  line-height: 1;
  text-align: center;
}

.responsive-block-editor-addons-ifb-button-wrapper {
  .wp-block-button__link svg {
    fill: currentColor;
  }
}

.responsive-block-editor-addons-ifb-cta a {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

.responsive-block-editor-addons-ifb-title-wrap {
  width: 100%;
}
.responsive-block-editor-addons-ifb-title-wrap
  .responsive-block-editor-addons-ifb-title,
.responsive-block-editor-addons-ifb-title-wrap
  .responsive-block-editor-addons-ifb-title-prefix {
  padding: 0;
  margin: 0;
  display: block;
}

.responsive-block-editor-addons-ifb-icon span {
  font-size: 40px;
  height: 40px;
  color: #333;
  width: 40px;
}

.responsive-block-editor-addons-ifb-icon svg {
  fill: #333;
}

.responsive-block-editor-addons-ifb-content {
  width: 100%;
}
.responsive-block-editor-addons-infobox__content-wrap.responsive-block-editor-addons-infobox,
.responsive-block-editor-addons-ifb-content,
.responsive-block-editor-addons-ifb-title-wrap,
.responsive-block-editor-addons-ifb-title-prefix *,
svg.dashicon.dashicons-upload {
  z-index: 1;
}
.responsive-block-editor-addons-ifb-left-right-wrap,
button.components-button {
  z-index: 1;
}
.responsive-block-editor-addons-infobox-cta-link {
  cursor: pointer;
}
a.responsive-block-editor-addons-infobox-link-wrap {
  color: inherit;
}
.responsive-block-editor-addons-ifb-content p:empty {
  display: none;
}
.responsive-block-editor-addons-infobox
  .responsive-block-editor-addons-ifb-icon,
.responsive-block-editor-addons-infobox
  .responsive-block-editor-addons-ifb-image-content
  img {
  display: inline-block;
  box-sizing: content-box;
}
.responsive-block-editor-addons-ifb-align-icon-after {
  margin-left: 5px;
}
.responsive-block-editor-addons-ifb-align-icon-before {
  margin-right: 5px;
}
span.responsive-block-editor-addons-ifb-button-icon.responsive-block-editor-addons-ifb-align-icon-after {
  float: right;
}

.responsive-block-editor-addons-ifb-button-icon {
  height: 15px;
  width: 15px;
  font-size: 15px;
  vertical-align: middle;
}
.responsive-block-editor-addons-ifb-text-icon {
  height: 15px;
  width: 15px;
  font-size: 15px;
  line-height: 15px;
  vertical-align: middle;
  display: inline-block;
}

.responsive-block-editor-addons-ifb-button-icon svg,
.responsive-block-editor-addons-ifb-text-icon svg {
  height: inherit;
  width: inherit;
  display: inline-block;
}

.block-editor-page #wpwrap .responsive-block-editor-addons-infobox-cta-link svg,
.responsive-block-editor-addons-infobox-cta-link svg {
  font-style: normal;
}

.responsive-block-editor-addons-infobox__outer-wrap {
  position: relative;
}
a.responsive-block-editor-addons-infbox__link-to-all {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

@media only screen and (max-width: 976px) {
  .responsive-block-editor-addons-infobox-stacked-tablet
    .responsive-block-editor-addons-ifb-left-right-wrap
    .responsive-block-editor-addons-ifb-imgicon-wrap {
    padding: 0;
    margin-bottom: 20px;
  }

  .responsive-block-editor-addons-infobox-stacked-tablet.responsive-block-editor-addons-reverse-order-tablet
    .responsive-block-editor-addons-ifb-left-right-wrap {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    -js-display: inline-flex;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    flex-direction: column-reverse;
  }

  .responsive-block-editor-addons-infobox.responsive-block-editor-addons-infobox-stacked-tablet
    .responsive-block-editor-addons-ifb-left-right-wrap
    .responsive-block-editor-addons-ifb-content,
  .responsive-block-editor-addons-infobox.responsive-block-editor-addons-infobox-stacked-tablet
    .responsive-block-editor-addons-ifb-left-right-wrap
    .responsive-block-editor-addons-ifb-imgicon-wrap {
    display: block;
    width: 100%;
    text-align: center;
  }

  .responsive-block-editor-addons-infobox.responsive-block-editor-addons-infobox-stacked-tablet
    .responsive-block-editor-addons-ifb-left-right-wrap
    .responsive-block-editor-addons-ifb-imgicon-wrap {
    margin-left: 0px;
    margin-right: 0px;
  }
  .responsive-block-editor-addons-infobox-stacked-tablet
    .responsive-block-editor-addons-ifb-left-right-wrap {
    display: inline-block;
  }

  .responsive-block-editor-addons-infobox-icon-left-title.responsive-block-editor-addons-infobox-stacked-tablet
    .responsive-block-editor-addons-ifb-imgicon-wrap,
  .responsive-block-editor-addons-infobox-icon-left.responsive-block-editor-addons-infobox-stacked-tablet
    .responsive-block-editor-addons-ifb-imgicon-wrap {
    margin-right: 0px;
  }
  .responsive-block-editor-addons-infobox-icon-right-title.responsive-block-editor-addons-infobox-stacked-tablet
    .responsive-block-editor-addons-ifb-imgicon-wrap,
  .responsive-block-editor-addons-infobox-icon-right.responsive-block-editor-addons-infobox-stacked-tablet
    .responsive-block-editor-addons-ifb-imgicon-wrap {
    margin-left: 0px;
  }
  .responsive-block-editor-addons-infobox-icon-left-title
    .responsive-block-editor-addons-ifb-separator-parent {
    margin: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .responsive-block-editor-addons-infobox-stacked-mobile
    .responsive-block-editor-addons-ifb-left-right-wrap
    .responsive-block-editor-addons-ifb-imgicon-wrap {
    padding: 0;
    margin-bottom: 20px;
  }

  .responsive-block-editor-addons-infobox-stacked-mobile.responsive-block-editor-addons-reverse-order-mobile
    .responsive-block-editor-addons-ifb-left-right-wrap {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    -js-display: inline-flex;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    flex-direction: column-reverse;
  }

  .responsive-block-editor-addons-infobox.responsive-block-editor-addons-infobox-stacked-mobile
    .responsive-block-editor-addons-ifb-left-right-wrap
    .responsive-block-editor-addons-ifb-content,
  .responsive-block-editor-addons-infobox.responsive-block-editor-addons-infobox-stacked-mobile
    .responsive-block-editor-addons-ifb-left-right-wrap
    .responsive-block-editor-addons-ifb-imgicon-wrap {
    display: block;
    width: 100%;
    text-align: center;
  }

  .responsive-block-editor-addons-infobox.responsive-block-editor-addons-infobox-stacked-mobile
    .responsive-block-editor-addons-ifb-left-right-wrap
    .responsive-block-editor-addons-ifb-imgicon-wrap {
    margin-left: 0px;
    margin-right: 0px;
  }
  .responsive-block-editor-addons-infobox-stacked-mobile
    .responsive-block-editor-addons-ifb-left-right-wrap {
    display: inline-block;
  }

  .responsive-block-editor-addons-infobox-icon-left-title.responsive-block-editor-addons-infobox-stacked-mobile
    .responsive-block-editor-addons-ifb-imgicon-wrap,
  .responsive-block-editor-addons-infobox-icon-left.responsive-block-editor-addons-infobox-stacked-mobile
    .responsive-block-editor-addons-ifb-imgicon-wrap {
    margin-right: 0px;
  }
  .responsive-block-editor-addons-infobox-icon-right-title.responsive-block-editor-addons-infobox-stacked-mobile
    .responsive-block-editor-addons-ifb-imgicon-wrap,
  .responsive-block-editor-addons-infobox-icon-right.responsive-block-editor-addons-infobox-stacked-mobile
    .responsive-block-editor-addons-ifb-imgicon-wrap {
    margin-left: 0px;
  }
  .responsive-block-editor-addons-infobox-icon-left-title
    .responsive-block-editor-addons-ifb-separator-parent {
    margin: 10px 0;
  }
}

.components-panel .rfipdropdown.rfipdropdown--default.fipappear-enter-done,
.components-panel .rfipdropdown {
  left: 0 !important;
  width: 230px;
}

.components-panel .rfipicons__ibox {
  font-size: 15px;
}

.components-panel .rfipicons__icon {
  height: 40px;
}

.components-panel .rfipicons__ibox:hover > * {
  -webkit-transform: scale(1.45);
  -ms-transform: scale(1.45);
  transform: scale(1.45);
}

.rfipbtn,
.rfipdropdown {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.71429;
  vertical-align: baseline;
}

.rfipbtn,
.rfipbtn *,
.rfipdropdown,
.rfipdropdown * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rfipbtn input,
.rfipbtn select,
.rfipdropdown input,
.rfipdropdown select {
  font-size: 14px;
}

.rfip {
  position: relative;
  margin: 8px 0;
  width: 100%;
  vertical-align: middle;
}

.rfipbtn {
  width: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  min-height: 50px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: border-color 0.25s, -webkit-box-shadow 0.25s;
  transition: border-color 0.25s, -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s, border-color 0.25s;
  transition: box-shadow 0.25s, border-color 0.25s, -webkit-box-shadow 0.25s;
  outline: 0 none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 40px;
}

.rfipbtn--open {
  border-radius: 2px 2px 0 0;
}

.rfipbtn__button {
  width: 48px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  -webkit-transition: background 0.25s, -webkit-box-shadow 0.25s;
  transition: background 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.rfipbtn__button i {
  font-size: 26px;
  line-height: 26px;
  height: 26px;
  width: 26px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  margin-left: auto;
  margin-right: auto;
}

.rfipbtn__button--open i {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.rfipbtn__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  padding: 2px;
}

.rfipbtn--multi {
  width: 258px;
}

.rfipbtn--multi .rfipbtn__current {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-preferred-size: 212px;
  flex-basis: 212px;
  -ms-flex-line-pack: center;
  align-content: center;
}

.rfipbtn--multi .rfipbtn__current,
.rfipbtn__icon {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.rfipbtn__icon {
  margin: 2px;
  padding: 0;
  height: 28px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 2px;
}

.rfipbtn__icon--empty {
  font-size: 14px;
  line-height: 16px;
  margin-left: 8px;
  text-align: center;
  text-transform: lowercase;
  font-style: italic;
}

.rfipbtn__elm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  width: 28px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
}

.rfipbtn__elm img,
.rfipbtn__elm svg {
  height: 18px;
  width: 18px;
}

.rfipbtn__elm svg {
  fill: #333;
}

.rfipbtn__del {
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  cursor: pointer;
}

.rfipcategory {
  width: 100%;
  margin: 0 0 8px;
  position: relative;
}

.rfipcategory select {
  width: 100%;
  display: block;
  height: 32px;
  line-height: 32px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: border 0.25s, -webkit-box-shadow 0.25s;
  transition: border 0.25s, -webkit-box-shadow 0.25s;
  transition: border 0.25s, box-shadow 0.25s;
  transition: border 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
  background-color: transparent !important;
}

.rfipcategory i {
  position: absolute;
  right: 2px;
  top: 0;
  font-size: 16px;
  line-height: 32px;
  z-index: -1;
}

.rfipdropdown {
  width: 352px;
  position: absolute;
  left: 0;
  margin-top: -1px;
  z-index: 100000001;
  border-radius: 0 1px 4px 4px;
}

.rfipdropdown__selector {
  overflow: hidden;
  padding: 16px;
}

.rfipdropdown.fipappear-enter-active .rfipdropdown__selector,
.rfipdropdown.fipappear-exit-active .rfipdropdown__selector {
  -webkit-transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 16px;
}

.rfipicons__pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 24px;
  line-height: 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}

.rfipicons__num {
  width: 100px;
  margin-right: auto;
}

.rfipicons__cp {
  width: 32px;
  height: 24px;
  line-height: 24px;
  text-align: right;
}

.rfipicons__cp,
.rfipicons__sp,
.rfipicons__tp {
  margin-right: 8px;
}

.rfipicons__arrow {
  margin-left: auto;
  width: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rfipicons__right {
  margin-left: auto;
}

.rfipicons__left,
.rfipicons__right {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  -webkit-transition: background-color 0.25s, border 0.25s;
  transition: background-color 0.25s, border 0.25s;
  outline: 0 none;
  border-radius: 2px;
  font-size: 18px;
}

.rfipicons__label {
  height: 22px;
  width: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.rfipicons__label img {
  height: 18px;
  width: 18px;
}

.rfipicons__selector {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.rfipicons__ibox,
.rfipicons__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rfipicons__ibox {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-transition: background-color 0.25s, border 0.25s;
  transition: background-color 0.25s, border 0.25s;
  border-radius: 2px;
  outline: 0 none;
  font-size: 20px;
}

.rfipicons__ibox img,
.rfipicons__ibox svg {
  max-height: 24px;
  height: 18px;
  width: 18px;
}

.rfipicons__ibox svg {
  fill: #333;
}

.rfipicons__ibox > * {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.rfipicons__ibox:hover > * {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
}

.rfipicons__ibox--error {
  text-transform: lowercase;
  font-style: italic;
}

.rfipicons__icon {
  width: 20%;
  height: 64px;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.rfipicons__icon--error {
  display: block;
  padding: 16px;
  text-align: center;
  font-size: 24px;
  width: 100%;
  line-height: 1;
}

.rfipsearch {
  width: 100%;
  margin: 0 0 8px;
}

.rfipsearch input {
  width: 100%;
  display: block;
  height: 32px;
  line-height: 32px;
}

[class^="fipicon-"] {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.fipicon-angle-down:before {
  content: "\f140";
  font-family: dashicons;
}

i.fipicon-angle-up:before {
  content: "\f142";
  font-family: dashicons;
}

i.fipicon-angle-right:before {
  content: "\f345";
  font-family: dashicons;
}

i.fipicon-angle-left:before {
  content: "\f341";
  font-family: dashicons;
}

.rfipbtn--default {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  width: 100%;
}

.rfipbtn--default .rfipbtn__icon {
  border: 0;
  height: 40px;
}

.rfipbtn--default .rfipbtn__del {
  height: 18px;
}

.rfipbtn--default:active,
.rfipbtn--default:focus {
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24),
    0 1.5px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #bdbdbd;
}

.rfipbtn--default .rfipbtn__button {
  border: 0 none transparent;
  border-left: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  color: #424242;
}

.rfipbtn--default .rfipbtn__button:hover {
  background-color: #bdbdbd;
}

.rfipbtn--default .rfipbtn__button:active {
  -webkit-box-shadow: inset 0 0 10px 0 #e0e0e0;
  box-shadow: inset 0 0 10px 0 #e0e0e0;
}

.rfipbtn--default .rfipbtn__icon {
  color: #424242;
}

.rfipbtn--default .rfipbtn__icon--empty {
  color: #e0e0e0;
}

.rfipbtn--default .rfipbtn__del {
  background-color: #eee;
}

.rfipbtn--default .rfipbtn__del:hover {
  background-color: #e0e0e0;
}

.rfipbtn--default .rfipbtn__del:active,
.rfipbtn--default .rfipbtn__del:focus {
  outline: 1px solid #e0e0e0;
}

.rfipdropdown--default {
  -webkit-box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22),
    0 19px 76px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
  color: #424242;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}

.rfipdropdown--default input,
.rfipdropdown--default select {
  color: #424242;
}

.rfipdropdown--default .rfipcategory select {
  background-color: #fff;
  border: 0 none;
  border-bottom: 1px solid #bdbdbd;
  -webkit-transition: border 0.25s, -webkit-box-shadow 0.25s;
  transition: border 0.25s, -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s, border 0.25s;
  transition: box-shadow 0.25s, border 0.25s, -webkit-box-shadow 0.25s;
}

.rfipdropdown--default .rfipcategory select:active,
.rfipdropdown--default .rfipcategory select:focus {
  border-bottom-color: #9e9e9e;
  -webkit-box-shadow: 0 1px 0 0 #9e9e9e;
  box-shadow: 0 1px 0 0 #9e9e9e;
  outline: 0 none;
}

.rfipdropdown--default .rfipicons__cp {
  border: 0 none;
  border-bottom: 1px solid #bdbdbd;
  -webkit-transition: border 0.25s, -webkit-box-shadow 0.25s;
  transition: border 0.25s, -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s, border 0.25s;
  transition: box-shadow 0.25s, border 0.25s, -webkit-box-shadow 0.25s;
}

.rfipdropdown--default .rfipicons__cp:active,
.rfipdropdown--default .rfipicons__cp:focus {
  border-bottom-color: #9e9e9e;
  -webkit-box-shadow: 0 1px 0 0 #9e9e9e;
  box-shadow: 0 1px 0 0 #9e9e9e;
  outline: 0 none;
}

.rfipdropdown--default .rfipicons__left,
.rfipdropdown--default .rfipicons__right {
  background-color: #eee;
  border: 1px solid #eee;
  color: #424242;
}

.rfipdropdown--default .rfipicons__left:hover,
.rfipdropdown--default .rfipicons__right:hover {
  background-color: #bdbdbd;
  border: 1px solid #bdbdbd;
}

.rfipdropdown--default .rfipicons__left:active,
.rfipdropdown--default .rfipicons__left:focus,
.rfipdropdown--default .rfipicons__right:active,
.rfipdropdown--default .rfipicons__right:focus {
  border: 1px solid #bdbdbd;
}

.rfipdropdown--default .rfipicons__ibox {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #424242;
}
