.responsive-block-editor-addons-block-blockquote-item {
  position: relative;
  width: 100%;
  .responsive-block-editor-addons-block-blockquote-quote {
    position: absolute;
    fill: rgba(129, 141, 165, 0.32);
    width: 70px;
    height: 70px;
    transform: translateX(-50%) translateY(-30%);
    top: 20px;
    left: 30px;
    z-index: 5;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  .responsive-block-editor-addons-block-blockquote-text {
    position: relative;
    z-index: 6;
  }
  .rbea-bq__footer-wrap {
    display: flex;
    align-items: center;
  }
  .rbea-bq__author-wrap {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rbea-bq__tweet-wrap {
    flex-shrink: 0;
  }
  .rbea-bq__author-image-wrap {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  
    button.responsive-block-editor-addons-change-image,
    button.responsive-block-editor-addons-add-image {
      width: 100%;
      height: 100%;
      padding: 0;
      border-radius: 50%;
      overflow: hidden;
    }
  
    .rbea-bq__author-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .rbea-bq__author-name {
    padding-right: 12px;
  }
  .responsive-block-editor-addons-section__video-wrap {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 100%;
      height: 100%;
      z-index: 1;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
