@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#wpbody-content {
    @apply font-sans;
}

#wpcontent {
    padding-left: 0;
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    .rbea-active-tab {
        @apply border-b-2 border-b-[#2563EB];
    }


    .rbea-block-toggle {
        /* Inactive */
        .components-form-toggle {
            .components-form-toggle__track {
                @apply bg-slate-300;
            }

            .components-form-toggle__thumb {
                @apply bg-slate-400;
            }

            /* Active */
            &.is-checked {
                .components-form-toggle__track {
                    @apply bg-blue-600 !important;
                }

                .components-form-toggle__thumb {
                    background-color: #fff !important;
                }
            }
        }
    }

    /* Always Active */
    .rbea-block-toggle-always-active {
        .components-form-toggle.is-disabled {
            @apply border-blue-100;
            border-width: 1px;
            border-radius: 10px;
        }
    }
}