.responsive-block-editor-addons-block-number-box {
    padding: 0;
    margin: 0 auto;

    .rbea-number-box-main-container {
        padding-top: 25px;
        padding-bottom: 25px;
        position: relative;
        display: flex;
    }

    .rbea-number-box-main-container::before {
        content: '';
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    .rbea-number-box {
        display: flex;
    }

    // number
    .rbea-number-box-container {
        width: 100px;
        height: 100px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 99;
    }

    .rbea-number-box-block {
        font-size: 51px;
        color: #fff;
    }

}