<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="ResponsiveBlockEditorAddons-tests">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
        	<whitelist addUncoveredFilesFromWhitelist="true">
            		<directory suffix=".php">classes</directory>
            		<directory suffix=".php">includes</directory>
            		<directory suffix=".php">admin</directory>
					<directory suffix=".php">dist</directory>
	    		<directory suffix=".php">src/blocks</directory>
	    		<file>src/utils/font.php</file>
				<exclude>
					<directory suffix=".php">includes/patterns/</directory>
					<directory suffix=".php">analytics/</directory>
				</exclude>
        	</whitelist>
    	</filter>
</phpunit>
