/**
 * Editor Styles
 */

.gutenberg-editor-page
  #wpwrap
  .responsive-block-editor-addons-testomonial__outer-wrap
  ul.slick-dots {
  margin: 0 auto;
}
#wpwrap .edit-post-visual-editor button.slick-arrow {
  line-height: 1em;
}
.responsive-block-editor-addons-tm__desc,
.editor-block-list__layout
  .responsive-block-editor-addons-tm__desc.block-editor-rich-text__editable {
  margin-bottom: 15px;
}
.responsive-block-editor-addons-tm__author-name,
.editor-block-list__layout
  .responsive-block-editor-addons-tm__author-name.block-editor-rich-text__editable {
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 1em;
}
#wpwrap .edit-post-visual-editor ul.slick-dots {
  margin: 0;
  padding-left: 0;
}
.responsive-block-editor-addons-tm__content.skin-type-bubble
  .responsive-block-editor-addons-tm__desc {
  padding: 10px;
}
.responsive-block-editor-addons-tm__content.skin-type-bubble
  .responsive-block-editor-addons-testinomial-text-wrap {
  position: relative;
}

.responsive-block-editor-addons-tm__content.skin-type-bubble
  .responsive-block-editor-addons-testinomial-text-wrap:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e4e4e4;
  border-bottom: 10px solid transparent;
  right: 50%;
  bottom: -20px;
}
.responsive-block-editor-addons-tm__content.skin-type-bubble.left-aligned
  .responsive-block-editor-addons-testinomial-text-wrap:before {
  left: 30px;
}
.responsive-block-editor-addons-tm__content.skin-type-bubble.right-aligned
  .responsive-block-editor-addons-testinomial-text-wrap:before {
  right: 30px;
}
.responsive-block-editor-addons-tm__content.skin-type-bubble.center-aligned
  .responsive-block-editor-addons-testinomial-text-wrap:before {
  right: 49%;
}
