/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.responsive-block-editor-addons-section__video-wrap {
  height: 100%;

  width: 100%;

  top: 0;

  left: 0;

  position: absolute !important;

  overflow: hidden;

  z-index: 0 !important;

  -webkit-transition: opacity 1s;

  -o-transition: opacity 1s;

  transition: opacity 1s;

  video {
    width: 100%;
  }
}
.responsive-block-editor-addons-block-section {
  margin-left: auto;
  margin-right: auto;
}
.responsive-block-editor-addons-section-background-image-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}
.responsive-block-editor-addons-section-background-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}
.responsive-block-editor-addons-block-section-outer-wrap {
  position: relative;
}
.wp-block[data-type="responsive-block-editor-addons/section"]:before {
  content: "";
  position: absolute;
  border: 1px dashed #03ddff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.is-selected.wp-block[data-type="responsive-block-editor-addons/section"]:before {
  border-color: #03ddff;
}

.editor-bg-image-control .components-button,
.editor-bg-video-control .components-button {
  vertical-align: middle;
}

.editor-bg-image-control
  .components-button:last-child:not(.components-circular-option-picker__option),
.editor-bg-video-control .components-button:last-child {
  margin-left: 10px;
}

.wp-block[data-type="responsive-block-editor-addons/section"]
  .block-editor-block-list__block-edit {
  height: 100%;
}

.wp-block[data-type="responsive-block-editor-addons/section"]
  .block-editor-block-list__block-edit {
  height: 100%;
}

.responsive-section-inner-wrap .block-editor-block-list__block {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.block-editor-page
  #wpwrap
  .responsive-block-editor-addons-block-sections
  .responsive-section-inner-wrap {
  width: 100%;
  padding: 30px;
}

.edit-post-visual-editor
  .responsive-section-inner-wrap
  .block-editor-block-list__block
  > .editor-block-mover {
  left: -30px;
}

@media (max-width: 449px) {
  .block-editor-page
    #wpwrap
    .responsive-columns-inner-wrap
    .block-editor-block-list__block {
    background-attachment: scroll !important;
  }
}

.responsive-block-editor-addons-typography-option-actions,
.uag-box-shadow-option-actions {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.responsive-block-editor-addons-typography-option-actions button {
  margin: 0;
  float: right;
}

.responsive-block-editor-addons-typography-option-actions
  .rbea-typography-reset-btn,
.responsive-block-editor-addons-typography-option-actions
  .rbea-typography-reset-btn:hover,
.responsive-block-editor-addons-typography-option-actions
  .rbea-typography-reset-btn:active:enabled {
  background: none;
  border: none;
  box-shadow: none;
  float: right;
}

.responsive-block-editor-addons-typography-option-actions button svg {
  height: 15px;
  width: 15px;
}

.responsive-block-editor-addons-typography-option-actions button svg:hover {
  fill: #23282d;
}

.responsive-block-editor-addons-typography-option-actions
  button.rbea-typography-reset-btn
  svg {
  height: 13px;
  width: 13px;
  fill: #777;
}
.responsive-block-editor-addons-typography-option-actions button svg {
  height: 15px;
  width: 15px;
}

.responsive-block-editor-addons-typography-option-actions button svg:hover {
  fill: #23282d;
}

.responsive-size-type-field__common-tabs button.responsive-responsive-tabs svg {
  height: 15px;
  width: 15px;
  fill: #777;
}

.responsive-size-type-field__common-tabs
  button.responsive-responsive-tabs
  svg:hover {
  fill: #23282d;
}

.responsive-size-type-field-tabs {
  margin-bottom: 24px;
  margin-top: 24px;
}
.responsive-size-type-field__common-tabs .components-tab-panel__tabs {
  margin-bottom: -34px;
  display: block;
}
.responsive-size-type-field-tabs .components-tab-panel__tabs {
  border-bottom: 0;
  text-align: right;
  margin-right: 10px;
  margin-bottom: -20px;
  display: block;
}
.responsive-size-type-field-tabs .components-tab-panel__tabs button.active-tab,
.responsive-size-type-field-tabs
  .components-tab-panel__tabs
  button.active-tab:focus {
  color: #23282d;
  background-color: #e4e5e5;
  box-shadow: none;
}

.responsive-size-type-field-tabs .components-tab-panel__tabs button {
  border: 0;
  border-bottom: 0;
  padding: 2px;
  margin-bottom: 0;
  outline: 0;
  width: auto;
  font-size: 8px;
  background: transparent;
  color: #999;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;

  .dashicons,
  .dashicons-before:before {
    height: 15px;
    width: 15px;
    font-size: 15px;
  }
}
.responsive-size-type-field-tabs
  .components-tab-panel__tabsresponsive-size-type-field-tabs
  .components-tab-panel__tabs
  button
  svg {
  width: 14px;
  height: 14px;
}


.rbea-inspector-tab {
.rbea-background-image-positon-control {

  border-radius: 4px ;
  .rbea-background-image-positon-control-options {
    margin-bottom: 32px;

    .rbea-background-image-positon-control-option {
      height: 44px;
      width: 44px;
    }

    .components-radio-control__option input:checked+label .rbea-background-image-positon-control-option{
      background: #FFFFFF;
      border-radius: 50%;
      opacity: 60%;
      backdrop-filter: blur(5px);
    }   

    .components-flex {
      height: 200px;
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: repeat(3, 1fr);
      gap: 0; 
    }

    .components-radio-control__option {
      border-right: 2px solid lightgray;
      border-bottom: 2px solid lightgray;
      width: 100%;
      height: 100%;

      label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
      }
    }

    .components-radio-control__option:nth-child(3n) {
      border-right: none;
    }
    
    .components-radio-control__option:nth-last-child(-n+3){
      border-bottom: none;
    }
  }
}
}

.rbea-Z-index-control-tabs .components-tab-panel__tabs{
  width: fit-content;
  margin-left: 56px;
}

.rbea-tab-selector-label-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;

   .rbea-section-size-control-tab-selector{
    width: fit-content;
    margin-top: 0px;
   }

   label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #666;
   }
}

.rbea-inspector-tab{
.rbea-repeat-selector-wrapper  {
  .rbea-tab-radio-options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 0; 
    border: 1px solid #C9C8C8!important ;
    border-radius: 6px; 
    overflow: hidden;
  }

  .rbea-tab-radio-option  {
    border: 1px solid #C9C8C8!important ;
  }
  
  .rbea-tab-radio-options :nth-child(1), 
  .rbea-tab-radio-options :nth-child(2) {
    border-bottom: none !important ; 
  }
  
  .rbea-tab-radio-options :nth-child(1) {
    border: none !important; 
    border-bottom-left-radius: 0px !important;
    border-right: 1px solid #C9C8C8!important ;
  }
  
  .rbea-tab-radio-options :nth-child(2) {
    border: none !important; 
    border-bottom-right-radius: 0px !important;
    border-bottom: 1px solid #C9C8C8!important ;
  }
  
  .rbea-tab-radio-options :nth-child(3) {
    border: none !important; 
    border-top-left-radius: 0px !important;
    border-top: 1px solid #C9C8C8!important ;
  }
  
  .rbea-tab-radio-options :nth-child(4) {
    border: none !important; 
    border-top-right-radius: 0px !important;
    border-left: 1px solid #C9C8C8!important ;
  }
}
}