// background media css
.rbea-media-upload-control{

    margin-bottom: 20px;
  
    .media-control-wrapper{
  
      position: relative;
  
      .media-selected {
        position: relative;
        line-height: 0px;

        img , video {
            height: 114px;
            object-fit: cover;
            object-position: center;
        }
      }
      .bgmedia-remove-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 3;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      .media-placeholder 
      {
        background-color: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 114px;
        border-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        cursor: pointer;
      }
  
      .media-selected { 
        img , video {
          width: 100%;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
  
      .bgmedia-select-button{
        display: block;
        width: 100%;
        background-color: #D9D9D9;
        color: #666;
        text-align: center;
        padding: 5px 0px;
        border-radius: 4px;
        height: 26px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }

      .bgmedia-select-button:focus {
        box-shadow: none;
      }
    }
}
  