.wp-block-responsive-block-editor-addons-feature-grid {
  position: relative;
}
.wp-block-responsive-block-editor-addons-feature-grid {
  z-index: 9999;
  .editor-styles-wrapper & {
    z-index: 25;
  }

  .wp-block-responsive-block-editor-addons-feature-grid-item__button {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.has-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.has-small-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2 - 0.5em);
}
.has-small-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 3 - 1em);
}
.has-small-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4 - 1em);
}
.has-medium-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2 - 1em);
}

.has-medium-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2.975 - 1.5em);
}
.has-medium-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4 - 1.5em);
}
.has-large-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2.01 - 1.5em);
}
.has-large-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 3.03 - 2em);
}
.has-large-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4.08 - 2em);
}
.has-huge-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2.02 - 2em);
}
.has-huge-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 3.09 - 2.5em);
}
.has-huge-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4.15 - 2.5em);
}

@media (max-width: 576px) {
  .wp-block-responsive-block-editor-addons-feature-grid__inner.has {
    &-large,
    &-small,
    &-medium,
    &-huge {
      &-gutter.has {
        &-2,
        &-3,
        &-4 {
          &-columns > *:not(.block-editor-inner-blocks) {
            max-width: 100%;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.page,
.single,
.blog,
.search,
.archive {
  &.page-template-gutenberg-fullwidth,
  &.sidebar-position-no:not(.woocommerce) {
    .alignwide,
    .alignfull {
      .wp-block-responsive-block-editor-addons-feature-grid__inner:not(.wp-block-cover__inner-container):not(.wp-block-separator),
      .wp-block-responsive-block-editor-addons-feature-grid__inner:not(.wp-block-cover__inner-container):not(.wp-block-separator) {
        &.has-small-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 2 - 0.5em);
        }
        &.has-small-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 3 - 1em);
        }
        &.has-small-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 4 - 1em);
        }
        &.has-medium-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 2 - 1em);
        }

        &.has-medium-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 2.975 - 1.5em);
        }
        &.has-medium-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 4 - 1.5em);
        }
        &.has-large-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 2.01 - 1.5em);
        }
        &.has-large-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 3.03 - 2em);
        }
        &.has-large-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 4.08 - 2em);
        }
        &.has-huge-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 2.02 - 2em);
        }
        &.has-huge-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 3.09 - 2.5em);
        }
        &.has-huge-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 4.15 - 2.5em);
        }
      }
    }
  }
}
@media (min-width: 600px) {
  .has-columns.has-2-columns > *:not(.block-editor-inner-blocks),
  .has-columns.has-3-columns > *:not(.block-editor-inner-blocks),
  .has-columns.has-4-columns > *:not(.block-editor-inner-blocks) {
    flex-basis: 50%;
  }
}
@media (min-width: 782px) {
  .has-columns.has-3-columns > *:not(.block-editor-inner-blocks),
  .has-columns.has-4-columns > *:not(.block-editor-inner-blocks) {
    flex-basis: 33.33%;
  }
}
@media (min-width: 1280px) {
  .has-columns.has-4-columns > *:not(.block-editor-inner-blocks) {
    flex-basis: 25%;
  }
}

.wp-block-responsive-block-editor-addons-feature-grid-item
  .wp-block-responsive-block-editor-addons-feature-grid-item__features {
  margin: 0 0 30px;
  max-width: none;
  padding: 0;
}

.wp-block-responsive-block-editor-addons-feature-grid-item {
  position: relative;
  width: 100%;
  background-color: #fff;

  @media (min-width: 600px) {
    margin-bottom: 0;
  }

  &:not(.has-background) {
  }

  &__title {
    margin-top: 0;
    padding: 0;
  }

  &__price-wrapper {
    display: flex;
    line-height: 1;
    position: relative;
  }

  &__currency {
    font-size: 1em;
  }

  &__amount {
    font-size: 5em;
    letter-spacing: normal;
    line-height: 1 !important;
    margin: 0;
    padding: 0;
  }

  &__features {
    margin: 0 0 30px;
    max-width: none;
    padding: 0;

    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  &__title {
    display: block;
    margin-bottom: 20px;
  }

  &__price-wrapper {
    margin-bottom: 20px;
  }

  .wp-block-button {
    margin-bottom: 0;
  }
}

.has-text-align-center
  .wp-block-responsive-block-editor-addons-feature-grid-item__price-wrapper {
  justify-content: center;
}

.has-text-align-right
  .wp-block-responsive-block-editor-addons-feature-grid-item__price-wrapper {
  justify-content: flex-end;
}

.wp-block-responsive-block-editor-addons-feature-grid-item__price-wrapper {
  display: flex;
  justify-content: center;

  p {
    line-height: 1.75;
  }
  .wp-block-responsive-block-editor-addons-feature-grid-item__currency {
    align-self: flex-start;
    font-size: 1.2em;
    margin: 0px !important;
  }
  .wp-block-responsive-block-editor-addons-feature-grid-item__amount {
    font-size: 3.5em;
    margin: 0px !important;
  }
  .wp-block-responsive-block-editor-addons-feature-grid-item__price_suffix {
    align-self: flex-end;
    font-size: 1.2em;
    margin: 0px !important;
  }
}
.wp-block-responsive-block-editor-addons-feature-rid-item__desc {
  font-size: 0.75em;
  color: #ddd;
  text-transform: uppercase;
  margin-top: 0px !important;
}

.responsive-block-editor-addons-feature-image-wrap {
  button {
    width: auto !important;

    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.image-shape- {
  &blob .responsive-block-editor-addons-feature-image {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTg4LjUgMzEuOWMxMi45IDE1LjkgMTIuNSA0My4zIDEwLjMgNzcuMXMtNi4yIDc0LjItMjYuMiA4Ni41LTU2LjEtMy4zLTg5LjQtMjEuMi02My43LTM4LjEtNzYuNC02OS44Qy01LjkgNzMtLjggMjkuOSAyMS42IDExLjcgNDQtNi40IDgzLjguNSAxMTYuNyA2LjFzNTkgMTAgNzEuOCAyNS44eiI+PC9wYXRoPjwvc3ZnPg==);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTg4LjUgMzEuOWMxMi45IDE1LjkgMTIuNSA0My4zIDEwLjMgNzcuMXMtNi4yIDc0LjItMjYuMiA4Ni41LTU2LjEtMy4zLTg5LjQtMjEuMi02My43LTM4LjEtNzYuNC02OS44Qy01LjkgNzMtLjggMjkuOSAyMS42IDExLjcgNDQtNi40IDgzLjguNSAxMTYuNyA2LjFzNTkgMTAgNzEuOCAyNS44eiI+PC9wYXRoPjwvc3ZnPg==);
    mask-mode: alpha;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    border-radius: none;
  }
  &circle .responsive-block-editor-addons-feature-image {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCI+PC9jaXJjbGU+PC9zdmc+);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCI+PC9jaXJjbGU+PC9zdmc+);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  &square .responsive-block-editor-addons-feature-image {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBjbGFzcz0ic3F1YXJlX3N2Z19fc3QwIiBkPSJNMCAwaDIwMHYyMDBIMHoiPjwvcGF0aD48L3N2Zz4=);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBjbGFzcz0ic3F1YXJlX3N2Z19fc3QwIiBkPSJNMCAwaDIwMHYyMDBIMHoiPjwvcGF0aD48L3N2Zz4=);
  }
}
.wp-block-cover .wp-block-responsive-block-editor-addons-feature-grid__inner {
  color: #333;
}

@media (max-width: 576px) {
  .page,
  .single,
  .blog,
  .search,
  .archive {
    &.page-template-gutenberg-fullwidth,
    &.sidebar-position-no:not(.woocommerce) {
      .alignwide,
      .alignfull {
        .wp-block-responsive-block-editor-addons-feature-grid__inner:not(.wp-block-cover__inner-container):not(.wp-block-separator),
        .wp-block-responsive-block-editor-addons-feature-grid__inner:not(.wp-block-cover__inner-container):not(.wp-block-separator) {
          &.has-small-gutter.has-2-columns > *:not(.block-editor-inner-blocks),
          &.has-small-gutter.has-3-columns > *:not(.block-editor-inner-blocks),
          &.has-small-gutter.has-4-columns > *:not(.block-editor-inner-blocks),
          &.has-medium-gutter.has-2-columns > *:not(.block-editor-inner-blocks),
          &.has-medium-gutter.has-3-columns > *:not(.block-editor-inner-blocks),
          &.has-medium-gutter.has-4-columns > *:not(.block-editor-inner-blocks),
          &.has-large-gutter.has-2-columns > *:not(.block-editor-inner-blocks),
          &.has-large-gutter.has-3-columns > *:not(.block-editor-inner-blocks),
          &.has-large-gutter.has-4-columns > *:not(.block-editor-inner-blocks),
          &.has-huge-gutter.has-2-columns > *:not(.block-editor-inner-blocks),
          &.has-huge-gutter.has-3-columns > *:not(.block-editor-inner-blocks),
          &.has-huge-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
            max-width: 100%;
          }
        }
      }
    }
  }

  .has {
    &-large,
    &-small,
    &-medium,
    &-huge {
      &-gutter.has {
        &-1,
        &-2,
        &-3,
        &-4 {
          &-columns
            > .wp-block-responsive-block-editor-addons-feature-grid-item:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.responsive-block-editor-addons-block-feature-grid.grid-layout-basic .wp-block-responsive-block-editor-addons-feature-grid-item{
  box-shadow: 0px 0px 2px 1px #e9e7e7;
  padding: 60px 35px;
  border-radius: 12px;
  background-color: #fff;
}

.wp-block-responsive-block-editor-addons-feature-grid-item__title,
p.wp-block-responsive-block-editor-addons-feature-grid-item__desc,
p.wp-block-responsive-block-editor-addons-feature-grid-item__button {
  margin-top: 0px;
  margin-bottom: 0px;
}

.responsive-block-editor-addons-feature-image-icon-wrap {
  position: relative;
  background-color: #eee;
  border-radius: 100%;
  width: 100px;
  height: 100px;

  span {
    position: absolute;
    left: 40%;
    top: 40%;
  }
}
