.wp-block-responsive-block-editor-addons-container {
    display: flex;
    position: relative;
    box-sizing: border-box;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease
}

.wp-block-responsive-block-editor-addons-container.responsive-block-editor-addons-is-root-container {
    margin-left: auto;
    margin-right: auto
}

.wp-block-responsive-block-editor-addons-container.alignfull.responsive-block-editor-addons-is-root-container .responsive-block-editor-addons-container-inner-blocks-wrap {
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-left: auto !important;
    margin-right: auto !important
}
