.responsive-block-editor-addons-variation-picker {
  .components-placeholder__fieldset {
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 90%;

    .block-editor-block-variation-picker__variations {
      width: 75%;
      gap: 0;
      margin: 16px 0;
    }
  }
}
