.responsive-block-editor-addons-block-contact-form-7-styler {
.form-container{
    display: flex;
  }

  .form{
    max-width: -webkit-fill-available;
  }

  .wp-core-ui select{
    max-width: 100%;
  }

  .responsive-form-title-text{
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .responsive-form-desc-text{
    margin-top: 0px;
    margin-bottom: 20px;
  }


  input[type="radio"] , input[type="checkbox"]{
    line-height: 1 !important;
    text-indent: 0 !important;
  }

  input[type=checkbox]:checked::before{
    content: "\2714" !important;
    line-height: 1.2;
    display: flex;
    justify-content: space-around;
    align-items: self-end;
    margin: auto;
    float: initial;
    height: auto;
    width: auto;
  }
  

  input[type=radio]:checked::before{
    float: initial;
    content: "";
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    margin: .1875rem;
    background-color: #3582c4;
    line-height: 1.14285714;

  }


  .wpcf7-checkbox input[type=checkbox]+span:before{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    text-align: center;
  }

  .wpcf7-list-item {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .wpcf7-list-item.first{
    margin-left: 0;
  }

  .wpcf7-list-item-label{
    margin-right: 0.2em;
    vertical-align: middle;
  }

  .wpcf7 input[type="radio"]{
    margin-top: 0 !important;
  }

  .wpcf7 input[type="checkbox"]{
    margin-top: 0 !important;
  }

  .wpcf7 .wpcf7-submit{
    display: flex;
    justify-content:center;
  }
}