.responsive-block-editor-addons-search-form-container {
    display: flex;
    align-items: stretch;
}

.responsive-block-editor-addons-search-form__input {
    border: 0 !important;
    width: 100%;
}

.responsive-block-editor-addons-search-submit {
    border: 0 !important;
}