.responsive-block-editor-addons-block-advanced-heading {
  padding: 0;
  margin: 0 auto;

  .responsive-heading-title-text {
    margin: 0;
  }

  .responsive-heading-seperator-wrap {
    font-size: 0;
  }

  .responsive-heading-seperator {
    border-top-style: solid;
    display: inline-block;
    border-top-width: 2px;
    width: 5%;
    margin: 0px 0px 10px 0px;
  }

  .responsive-heading-desc-text {
    margin: 0;
  }
}
