/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.responsive-block-editor-addons-section-background-image-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
.responsive-block-editor-addons-section-background-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}
.responsive-block-editor-addons-block-column {
  z-index: 1;
}
.wp-block[data-type="responsive-block-editor-addons/column"]:before {
  content: "";
  position: absolute;
  border: 1px dashed #a3aeb6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.is-selected.wp-block[data-type="responsive-block-editor-addons/column"]:before {
  border-color: #59646c;
}
.editor-bg-image-control .components-button,
.editor-bg-video-control .components-button {
  vertical-align: middle;
}

.editor-bg-image-control
  .components-button:last-child:not(.components-circular-option-picker__option),
.editor-bg-video-control .components-button:last-child {
  margin-left: 10px;
}

.wp-block[data-type="responsive-block-editor-addons/column"]
  .block-editor-block-list__block-edit {
  height: 100%;
}

.wp-block[data-type="responsive-block-editor-addons/column"]
  .block-editor-block-list__block-edit {
  height: 100%;
}

.responsive-column-inner-wrap .block-editor-block-list__block {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.block-editor-page
  #wpwrap
  .responsive-block-editor-addons-block-columns
  .responsive-column-inner-wrap {
  width: 100%;
  padding: 10px;
}

.edit-post-visual-editor
  .responsive-column-inner-wrap
  .block-editor-block-list__block
  > .editor-block-mover {
  left: -30px;
}

@media (max-width: 449px) {
  .block-editor-page
    #wpwrap
    .responsive-columns-inner-wrap
    .block-editor-block-list__block {
    background-attachment: scroll !important;
  }
}
.responsive-block-editor-addons-block-column {
  display: flex !important;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
}
