.wp-block[data-type="responsive-block-editor-addons/pricing-table"] {
  .block-list-appender {
    display: none !important;
  }

  form.blocks-button__inline-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
.wp-block-responsive-block-editor-addons-pricing-table {
  z-index: 9999;

  .wp-block-responsive-block-editor-addons-pricing-table-item__button {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.responsive-block-editor-addons-pricing-table-background-image-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
.responsive-block-editor-addons-pricing-table-background-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}

.wp-block-responsive-block-editor-addons-pricing-table-item
  .block-editor-url-input
  input[type="text"],
.ab-block-pricing-table-inside
  .block-editor-block-list__block
  .block-editor-url-input
  input[type="text"] {
  width: 100%;
  border: 1px solid #0066cc;
}
.has-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.has-small-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2 - 0.5em);
}
.has-small-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 3 - 1em);
}
.has-small-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4 - 1em);
}
.has-medium-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2 - 1em);
}

.has-medium-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2.975 - 1.5em);
}
.has-medium-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4 - 1.5em);
}
.has-large-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2.01 - 1.5em);
}
.has-large-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 3.03 - 2em);
}
.has-large-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4.08 - 2em);
}
.has-huge-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2.02 - 2em);
}
.has-huge-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 3.09 - 2.5em);
}
.has-huge-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4.15 - 2.5em);
}
@media (min-width: 600px) {
  .has-columns.has-2-columns > *:not(.block-editor-inner-blocks),
  .has-columns.has-3-columns > *:not(.block-editor-inner-blocks),
  .has-columns.has-4-columns > *:not(.block-editor-inner-blocks) {
    flex-basis: 50%;
  }
}
@media (min-width: 782px) {
  .has-columns.has-3-columns > *:not(.block-editor-inner-blocks),
  .has-columns.has-4-columns > *:not(.block-editor-inner-blocks) {
    flex-basis: 33.33%;
  }
}
@media (min-width: 1280px) {
  .has-columns.has-4-columns > *:not(.block-editor-inner-blocks) {
    flex-basis: 25%;
  }
}

.wp-block[data-type="responsive-block-editor-addons/pricing-table-item"]
  .wp-block-responsive-block-editor-addons-pricing-table-item__features {
  margin: 0 0 30px;
}
.wp-block-responsive-block-editor-addons-pricing-table-item
  .wp-block-responsive-block-editor-addons-pricing-table-item__features {
  margin: 0 0 30px;
  max-width: none;
  padding: 0;
}
.wp-block-responsive-block-editor-addons-pricing-table {
  .responsive-block-editor-addons-pricing-table-avatar {
    flex: 0 0 auto;
    position: relative;
    margin-bottom: 15px;

    &-img {
      height: 100% !important;
      object-fit: cover;
      position: absolute;
      top: 0;
      vertical-align: middle;
      width: 100%;
    }

    button {
      height: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      background-color: #fff;

      &:focus:not(:disabled) {
        background: none;
        border: none;
        box-shadow: 0 0 0 2px #007cba;
        outline: none;
      }

      svg {
        height: 100px;
        fill: #555d66;
        margin: auto auto;
        pointer-events: none;
        transform: translate3d(0, 0, 0);
        transition: transform 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

  .responsive-block-editor-addons-pricing-image-wrap {
    button {
      width: auto !important;

      img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.wp-block-cover .wp-block-responsive-block-editor-addons-pricing-table__inner {
  color: #333;
}
