.wp-block-responsive-block-editor-addons-pricing-table {
  position: relative;
}
.wp-block-responsive-block-editor-addons-pricing-table {
  z-index: 9999;
  .editor-styles-wrapper & {
    z-index: 25;
  }

  .wp-block-responsive-block-editor-addons-pricing-table-item__button {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.responsive-block-editor-addons-pricing-table-background-image-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
.responsive-block-editor-addons-pricing-table-background-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}

.has-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.has-small-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2 - 0.5em);
}
.has-small-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 3 - 1em);
}
.has-small-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4 - 1em);
}
.has-medium-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2 - 1em);
}

.has-medium-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2.975 - 1.5em);
}
.has-medium-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4 - 1.5em);
}
.has-large-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2.01 - 1.5em);
}
.has-large-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 3.03 - 2em);
}
.has-large-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4.08 - 2em);
}
.has-huge-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 2.02 - 2em);
}
.has-huge-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 3.09 - 2.5em);
}
.has-huge-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
  max-width: calc(100% / 4.15 - 2.5em);
}

@media (max-width: 576px) {
  .wp-block-responsive-block-editor-addons-pricing-table__inner.has {
    &-large,
    &-small,
    &-medium,
    &-huge {
      &-gutter.has {
        &-2,
        &-3,
        &-4 {
          &-columns > *:not(.block-editor-inner-blocks) {
            max-width: 100%;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.page,
.single,
.blog,
.search,
.archive {
  &.page-template-gutenberg-fullwidth,
  &.sidebar-position-no:not(.woocommerce) {
    .alignwide,
    .alignfull {
      .wp-block-responsive-block-editor-addons-pricing-table__inner:not(.wp-block-cover__inner-container):not(.wp-block-separator),
      .wp-block-responsive-block-editor-addons-pricing-table__inner:not(.wp-block-cover__inner-container):not(.wp-block-separator) {
        &.has-small-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 2 - 0.5em);
        }
        &.has-small-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 3 - 1em);
        }
        &.has-small-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 4 - 1em);
        }
        &.has-medium-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 2 - 1em);
        }

        &.has-medium-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 2.975 - 1.5em);
        }
        &.has-medium-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 4 - 1.5em);
        }
        &.has-large-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 2.01 - 1.5em);
        }
        &.has-large-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 3.03 - 2em);
        }
        &.has-large-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 4.08 - 2em);
        }
        &.has-huge-gutter.has-2-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 2.02 - 2em);
        }
        &.has-huge-gutter.has-3-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 3.09 - 2.5em);
        }
        &.has-huge-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
          max-width: calc(100% / 4.15 - 2.5em);
        }
      }
    }
  }
}
@media (min-width: 600px) {
  .has-columns.has-2-columns > *:not(.block-editor-inner-blocks),
  .has-columns.has-3-columns > *:not(.block-editor-inner-blocks),
  .has-columns.has-4-columns > *:not(.block-editor-inner-blocks) {
    flex-basis: 50%;
  }
}
@media (min-width: 782px) {
  .has-columns.has-3-columns > *:not(.block-editor-inner-blocks),
  .has-columns.has-4-columns > *:not(.block-editor-inner-blocks) {
    flex-basis: 33.33%;
  }
}
@media (min-width: 1280px) {
  .has-columns.has-4-columns > *:not(.block-editor-inner-blocks) {
    flex-basis: 25%;
  }
}

.wp-block[data-type="responsive-block-editor-addons/pricing-table-item"]
  .wp-block-responsive-block-editor-addons-pricing-table-item__features {
  margin: 0 0 30px;
}
.wp-block-responsive-block-editor-addons-pricing-table-item
  .wp-block-responsive-block-editor-addons-pricing-table-item__features {
  margin: 0 0 30px;
  max-width: none;
  padding: 0;
}

.wp-block-responsive-block-editor-addons-pricing-table-item {
  padding: 4em 1.5em;
  position: relative;
  width: 100%;
  background-color: #f00;

  @media (min-width: 600px) {
    margin-bottom: 0;
  }

  &:not(.has-background) {
    background: hsla(240, 5%, 57%, 0.1);
  }

  &__title {
    margin-top: 0;
    padding: 0;
  }

  &__price-wrapper {
    display: flex;
    line-height: 1;
    position: relative;
  }

  &__currency {
    font-size: 1em;
  }

  &__amount {
    font-size: 5em;
    letter-spacing: normal;
    line-height: 1 !important;
    margin: 0;
    padding: 0;
  }

  &__features {
    margin: 0 0 30px;
    max-width: none;
    padding: 0;

    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  &__title {
    display: block;
    margin-bottom: 20px;
  }

  &__price-wrapper {
    margin-bottom: 20px;
  }

  .wp-block-button {
    margin-bottom: 0;
  }
}

.has-text-align-center
  .wp-block-responsive-block-editor-addons-pricing-table-item__price-wrapper {
  justify-content: center;
}

.has-text-align-right
  .wp-block-responsive-block-editor-addons-pricing-table-item__price-wrapper {
  justify-content: flex-end;
}

.wp-block-responsive-block-editor-addons-pricing-table-item__price-wrapper {
  display: flex;
  justify-content: center;

  p {
    line-height: 1.75;
  }
  .wp-block-responsive-block-editor-addons-pricing-table-item__currency {
    align-self: flex-start;
    font-size: 1.2em;
    margin: 0px !important;
  }
  .wp-block-responsive-block-editor-addons-pricing-table-item__amount {
    font-size: 3.5em;
    margin: 0px !important;
  }
  .wp-block-responsive-block-editor-addons-pricing-table-item__price_suffix {
    align-self: flex-end;
    font-size: 1.2em;
    margin: 0px !important;
  }
}
.wp-block-responsive-block-editor-addons-pricing-table-item__sub_price {
  font-size: 0.75em;
  color: #ddd;
  text-transform: uppercase;
  margin-top: 0px !important;
}

.wp-block-responsive-block-editor-addons-pricing-table {
  .responsive-block-editor-addons-pricing-table-avatar {
    flex: 0 0 auto;
    position: relative;
    margin-bottom: 15px;

    &-img {
      height: 100% !important;
      object-fit: cover;
      position: absolute;
      top: 0;
      vertical-align: middle;
      width: 100%;
    }

    button {
      height: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      background-color: #fff;

      &:focus:not(:disabled) {
        background: none;
        border: none;
        box-shadow: 0 0 0 2px #007cba;
        outline: none;
      }

      svg {
        height: 100px;
        fill: #555d66;
        margin: auto auto;
        pointer-events: none;
        transform: translate3d(0, 0, 0);
        transition: transform 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }
}
.responsive-block-editor-addons-pricing-image-wrap {
  button {
    width: auto !important;

    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.image-shape- {
  &blob .responsive-block-editor-addons-pricing-image {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTg4LjUgMzEuOWMxMi45IDE1LjkgMTIuNSA0My4zIDEwLjMgNzcuMXMtNi4yIDc0LjItMjYuMiA4Ni41LTU2LjEtMy4zLTg5LjQtMjEuMi02My43LTM4LjEtNzYuNC02OS44Qy01LjkgNzMtLjggMjkuOSAyMS42IDExLjcgNDQtNi40IDgzLjguNSAxMTYuNyA2LjFzNTkgMTAgNzEuOCAyNS44eiI+PC9wYXRoPjwvc3ZnPg==);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTg4LjUgMzEuOWMxMi45IDE1LjkgMTIuNSA0My4zIDEwLjMgNzcuMXMtNi4yIDc0LjItMjYuMiA4Ni41LTU2LjEtMy4zLTg5LjQtMjEuMi02My43LTM4LjEtNzYuNC02OS44Qy01LjkgNzMtLjggMjkuOSAyMS42IDExLjcgNDQtNi40IDgzLjguNSAxMTYuNyA2LjFzNTkgMTAgNzEuOCAyNS44eiI+PC9wYXRoPjwvc3ZnPg==);
    mask-mode: alpha;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    border-radius: none;
  }
  &circle .responsive-block-editor-addons-pricing-image {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCI+PC9jaXJjbGU+PC9zdmc+);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI1MCI+PC9jaXJjbGU+PC9zdmc+);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  &square .responsive-block-editor-addons-pricing-image {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBjbGFzcz0ic3F1YXJlX3N2Z19fc3QwIiBkPSJNMCAwaDIwMHYyMDBIMHoiPjwvcGF0aD48L3N2Zz4=);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBjbGFzcz0ic3F1YXJlX3N2Z19fc3QwIiBkPSJNMCAwaDIwMHYyMDBIMHoiPjwvcGF0aD48L3N2Zz4=);
  }
}
.wp-block-cover .wp-block-responsive-block-editor-addons-pricing-table__inner {
  color: #333;
}

@media (max-width: 576px) {
  .page,
  .single,
  .blog,
  .search,
  .archive {
    &.page-template-gutenberg-fullwidth,
    &.sidebar-position-no:not(.woocommerce) {
      .alignwide,
      .alignfull {
        .wp-block-responsive-block-editor-addons-pricing-table__inner:not(.wp-block-cover__inner-container):not(.wp-block-separator),
        .wp-block-responsive-block-editor-addons-pricing-table__inner:not(.wp-block-cover__inner-container):not(.wp-block-separator) {
          &.has-small-gutter.has-2-columns > *:not(.block-editor-inner-blocks),
          &.has-small-gutter.has-3-columns > *:not(.block-editor-inner-blocks),
          &.has-small-gutter.has-4-columns > *:not(.block-editor-inner-blocks),
          &.has-medium-gutter.has-2-columns > *:not(.block-editor-inner-blocks),
          &.has-medium-gutter.has-3-columns > *:not(.block-editor-inner-blocks),
          &.has-medium-gutter.has-4-columns > *:not(.block-editor-inner-blocks),
          &.has-large-gutter.has-2-columns > *:not(.block-editor-inner-blocks),
          &.has-large-gutter.has-3-columns > *:not(.block-editor-inner-blocks),
          &.has-large-gutter.has-4-columns > *:not(.block-editor-inner-blocks),
          &.has-huge-gutter.has-2-columns > *:not(.block-editor-inner-blocks),
          &.has-huge-gutter.has-3-columns > *:not(.block-editor-inner-blocks),
          &.has-huge-gutter.has-4-columns > *:not(.block-editor-inner-blocks) {
            max-width: 100%;
          }
        }
      }
    }
  }

  .has {
    &-large,
    &-small,
    &-medium,
    &-huge {
      &-gutter.has {
        &-1,
        &-2,
        &-3,
        &-4 {
          &-columns
            > .wp-block-responsive-block-editor-addons-pricing-table-item:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
