.responsive-block-editor-addons-block-form {
  padding: 0;
  margin: 0 auto;


  .responsive-block-editor-addons-form-submit-button-container{
    display: flex;
    .responsive-block-editor-addons-form-submit-button {
      cursor: pointer;
    }
  }

  .responsive-block-editor-addons-form-submit-success-message,
  .responsive-block-editor-addons-form-submit-error-message {
    margin-top: 20px;
  }
}
