/**
 * Layout styles
 * Loads on front end and back end
 */

.rbea-patterns-column-button .rbea-block-button {
	margin-bottom: 0;
}

.rbea-patterns-selector-group {
	margin-top: 10px;
}

.rbea-patterns-selector {
	display: inline-block;
	margin: 0 5px;

	button.rbea-patterns-selector-button {
		padding: 15px;
		height: auto;
		border-radius: 5px;
		background: #fff;

		&:hover {
			background: #fff;
		}
	}

	button.components-button.is-button:last-child {
		border-radius: 5px;
	}
}

.rbea-import-pattern-button {
	margin-right: 3px;
	color: #ff6f61;
}

.rbea-pattern-importer-modal .components-modal__header-heading {
	color: #ff6f61;
	margin-left: 0.8rem;
}

/**
 * Layout style modifications
 * This probably belongs in a theme!
 */

.rbea-patterns-team-1 {

	.rbea-profile-column {
		flex: 100%;
	}

	.rbea-social-links {
		padding-top: 25px;
	}
}

.rbea-patterns-hero-cover {

	.wp-block-cover__inner-container {
		max-width: 800px;
	}

	h2,
	h3,
	h4 {
		max-width: 100%;
	}
}

.rbea-white-text,
.editor-styles-wrapper [data-type="core/heading"] .rbea-white-text {
	color: #fff;
}

.rbea-patterns-landing-2 {

	.rbea-block-profile {
		padding: 0;
		text-align: center;
	}

	.rbea-block-profile .rbea-profile-avatar-wrap,
	.rbea-block-profile .rbea-profile-column {
		flex: 0 0 100%;
	}

	.round .rbea-profile-image-wrap {
		max-width: 220px;
		margin: 0 auto;
	}

	.rbea-block-cta {

		.rbea-cta-content {
			max-width: 700px;
			margin: 0 auto;
		}

		.rbea-button {
			font-weight: normal;
		}
	}
}

.rbea-patterns-landing-3 {

	.rbea-patterns-landing-3-cover {

		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-left: auto;
			margin-right: auto;

			@media only screen and (min-width: 600px) {
				font-size: 42px;
			}
		}
	}

	@media only screen and (min-width: 600px) {

		.rbea-block-post-grid header .rbea-block-post-grid-title {
			font-size: 24px;
		}
	}
}

/**
 * Twenty Twenty theme styles
 * Let's look at loading these conditionally if the theme is active
 */

div[class*="rbea-section-"].alignfull,
div[class*="rbea-patterns-"].alignfull {
	margin-top: auto;
	margin-bottom: auto;
}
