/**
 * Editor styles for the admin
 */

.rbea-pattern-importer-modal {
	width: 1200px;
	min-height: 90%;
	height: 100%;
	overflow-y: hidden;

	.components-modal__content {
		background: #fffef4;
		padding: 0;
		overflow-x: hidden;
	}

	.components-modal__header {
		margin-bottom: 25px;
		padding-left: 50px;
		padding-right: 25px;

		h1 {
			font-weight: bold;
			font-size: 1rem;
		}

		.components-button {
			left: 0;
			margin-right: 20px;
		}
	}

	.components-tab-panel__tab-content {
		background: #fff;
		padding: 35px;
		border-top: 1px solid #e2e4e7;
	}

	.components-tab-panel__tabs {
		padding: 0 35px;
		margin-bottom: -1px;

		button {
			padding: 15px 20px;
			background: none;
			border: none;
			font-size: 16px;
			height: auto;
			border-radius: 10px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
			color: #626262;

			&:hover {
				background: #fff;
				cursor: pointer;
			}

			&:focus {
				box-shadow: none;
			}
		}
	}

	.components-tab-panel__tabs .rbea-pattern-importer-modal-active-tab {
		font-weight: 600;
		background: #fff;
		border: 1px solid #e2e4e7;
		border-bottom: none;
		color: #2184F9;
	}

	.components-base-control {
		display: inline-block;
	}

	.components-base-control:last-child {
		float: right;
	}

	.rbea-pattern-importer-modal-header {
		background: #fffef4;
		padding: 20px;
		margin-bottom: 40px;
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 5em;

		.components-base-control:last-child {
			align-self: flex-end;
			margin: 0;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}

		select,
		input {
			font-size: 16px;
			height: 34px;
			width: 100%;
		}
	}

	.rbea-patterns-choices {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;
	}

	.rbea-patterns-view-full {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.rbea-patterns-view {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;
		margin-bottom: 20px;
	}

	.rbea-patterns-view-left {

		p {
			margin: 0;
			line-height: 2.2em;
		}

		a {
			font-weight: bold;
			color: #027bba;
		}
	}

	.rbea-patterns-view-right {
		text-align: right;

		button {
			margin-left: 5px;
			height: auto;
			padding: 5px;
		}
	}

	.rbea-patterns-design {
		text-align: center;
		margin-bottom: 40px;
		position: relative;

		img {
			max-width: 100%;
			display: block;
		}

		.rbea-patterns-insert-button {
			height: auto;
			background: none;
			border: none;
			box-shadow: none;
			border-bottom: none;
			padding: 0;
			z-index: 5;
			position: relative;
			display: block;
		}
	}

	.rbea-patterns-design-inside {
		transition: 0.2s ease;
		border: solid 1px #ccc;

		&:hover,
		&:focus-within {
			box-shadow: 0 0 0 8px #ececec;
		}
	}

	.rbea-patterns-design-info {
		background: #fff;
		border-top: solid 1px #ccc;
		text-align: left;
		position: relative;
		padding: 12px;

		button {

			&:active {
				vertical-align: middle !important;
			}
		}
	}

	.rbea-patterns-design-title {
		font-weight: bold;
		font-size: 13px;
		color: #444;
	}

	button.rbea-patterns-favorite-button {
		background: none;
		border: none;
		box-shadow: none;
		float: right;
		border-radius: 3px;
		margin-top: -3px;
	}

	.components-button-group .components-button.rbea-patterns-favorite-button {
		border-radius: 3px;
		padding: 0 8px 0;
	}

	button.rbea-patterns-favorite-button:hover {
		background: #fff;
		border: none;
		box-shadow: inset 0 0 0 1px #e2e4e7, inset 0 0 0 2px #fff, 0 1px 1px rgba(25, 30, 35, 0.2);
	}

	.components-button-group .components-button.rbea-patterns-favorite-button:focus {
		box-shadow: inset 0 0 0 1px #e2e4e7, inset 0 0 0 2px #fff, 0 1px 1px rgba(25, 30, 35, 0.2);
		background: #fff;
	}

	button.components-button.is-default:active:enabled {
		box-shadow: inset 0 0 0 1px #ccd0d4, inset 0 0 0 2px #fff;
	}

	.rbea-patterns-icon-favorite {
		color: #919191;
	}

	.rbea-patterns-icon-favorite-active {
		color: #ff6f61;
	}

	.rbea-patterns-zoom-button {
		position: absolute;
		top: 15px;
		right: 15px;
		background: #fff;
		border-radius: 5px !important;
		transition: 0.2s ease;
		z-index: 10;
		padding: 5px;
		height: auto;
		opacity: 0;
		display: none;
	}

	.rbea-patterns-design:hover {

		.rbea-patterns-zoom-button {
			opacity: 1;
		}
	}

	.rbea-patterns-zoom-layout {
		grid-column: 1 / -1;
	}
}

.rbea-pattern-placeholder {

	.components-placeholder__instructions {
		margin-bottom: 1.4em;
	}

	button.rbea-pattern-modal-button {
		font-size: 16px;
		height: auto;
		padding: 6px 18px;
	}
}


[data-type="responsive-block-editor-addons/rbea-templates"] {
	-webkit-animation: 2s ease 0s normal forwards 1 fadein;
	animation: 2s ease 0s normal forwards 1 fadein;

	@keyframes fadein {

		0% {
			opacity: 0;
		}

		66% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes fadein {

		0% {
			opacity: 0;
		}

		66% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}

.current-tab-rbea-patterns-tab-reusable-blocks.rbea-patterns-choices {
	display: block;

	a {
		text-decoration: none;
	}
}

.rbea-patterns-reusable {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	font-size: 14px;
	font-weight: 600;
	padding: 18px;

	&:nth-child(even) {
		background: #f2f2f2;
	}

	& > div {
		display: inline;
		-ms-flex: 1 0 0;
		flex: 1 0 0;
	}

	a:hover {
		cursor: pointer;
	}

	&:hover {

		.rbea-patterns-reusable-actions {
			opacity: 1;
		}
	}
}

.rbea-patterns-reusable-actions {
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	opacity: 1;
	transition: 0.1s ease;

	span {
		padding-left: 15px;
	}

	i {
		font-size: 17px;
		margin-right: 2px;
	}
}

.rbea-pattern-importer-modal .rbea-pattern-importer-modal-header-reusable {
	margin-bottom: 0;
	font-weight: bold

	a {
		text-decoration: none;
	}
}

.rbea-pattern-importer-modal-header-reusable-actions {
	text-align: right;
}

.rbea-pattern-importer-modal-footer {
	position: absolute;
	bottom: -1px;
	width: 100%;
	background: #3c3b3b;
	border-top: solid 1px #e0e0e0;
	z-index: 50;
	padding: 10px 10px 10px 32px;
	height: auto;
	font-size: 11px;
	color: #fff;

	svg {
		position: absolute;
		left: 10px;
		width: 18px;
		color: #fff;
	}

	a {
		text-decoration: none;
		color: #fff;

		&:hover {
			text-decoration: underline;
		}

		&:focus {
			color: #fff;
			text-decoration: underline;
		}
	}

	span {
		margin: 0 5px;
	}

	.rbea-pro-feedback {
		float: right;
		font-weight: bold;
		position: relative;

		svg {
			left: -22px;
		}
	}
}

div[data-type*="responsive-block-editor-addons/rbea-columns"][data-align="full"],
div[data-type*="responsive-block-editor-addons/rbea-container"][data-align="full"] {
	margin-top: auto;
	margin-bottom: auto;
}

div[data-type*="responsive-block-editor-addons/rbea-container"][data-align="full"] .rbea-block-container {
	overflow: hidden;
}

.components-placeholder.rbea-pattern-placeholder,
.components-placeholder.rbea-column-selector-placeholder {
	align-items: center;

	.components-placeholder__fieldset {
		width: auto;
	}
}

.rbea-patterns-collection-cover {

	.rbea-patterns-design:nth-child(1) & {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%234b4b4b' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
	}

	.rbea-patterns-design:nth-child(2) & {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23565656' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
	}

	.rbea-patterns-design:nth-child(3) & {
		background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%235a5a5a' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}

	.rbea-patterns-design:nth-child(4) & {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23565656' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}

	.rbea-patterns-design:nth-child(5) & {
		background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%235c5c5c' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}

	.rbea-patterns-design:nth-child(6) & {
		background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23656565' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
}

.rbea-patterns-collection-cover {
	width: 100%;
	min-height: 225px;
	background-color: #2f2f2f;
	border-radius: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease;

	&:hover {
		background-color: #202020 !important;
	}

	.rbea-patterns-collection-label {
		color: #fff;
		font-size: 26px;
	}
}

.rbea-patterns-collection-button {
	width: 100%;
}

.rbea-collections-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	background: #fffef4;
	padding: 30px 20px;

	h2 {
		margin: 0;
	}
}

.rbea-collections-link {
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 1px 1px 2px #ccc;
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		box-shadow: 0 0 0 2px #007cba;
	}

	span {
		margin-right: 5px;
		transition: color 0.05s ease-in;
	}
}

.rbea-collections-view-all-link {
	color: #0073aa;
	border: none;
	padding: 0;
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	line-height: 1;

	&:hover {
		color: #00a0d2;
		cursor: pointer;
	}

	span {
		margin-right: 2px;
		transition: color 0.05s ease-in;
		font-size: 15px;

		&::before {
			vertical-align: middle;
		}
	}
}

.rbea-collection-title {
	font-size: 28px;
}

.rbea-collection-type-title {
	font-size: 20px;
	margin-bottom: 25px;
}

.rbea-collections-body .rbea-collection-type-title:first-of-type {
	margin-top: 45px;
}

/**
 * Admin styles for sections and layouts
 */

.gpb-slate-section-contact-box {

	.wp-block-responsive-block-editor-addons-rbea-column {
		height: 100%;
	}
}

.rbea-pattern-wrapper {
	width: 300px;
	display: flex;
	align-items: center;
}

.rbea-import-pattern {
	font-size: 1rem;
	font-weight: 600;

	.components-icon-button {
		 svg {
			 margin-right: 8px;
		 }
	}
}

.rbea-pattern-importer-modal-header .components-input-control__container {
	width: 400px;
}

.responsive-block-editior-addons-import-button-outer{
	position: relative;
}

.responsive-block-editior-addons-import-button-inner{
	position: absolute;
	z-index: 2;
	top: 45%;
	display: none;
	left: 35%;
	border: 1px solid #1e70d6;
    background: #1e70d6;
    box-shadow: 0 1px 0 #165cb4;
    color: #fff;
	padding-top: 5px;

	.responsive-block-editior-addons-import-icon {
		margin-right: 5px;
		font-size: 16px;
		margin-top: 3px;
	}
}

.responsive-block-editior-addons-import-button-outer:hover .responsive-block-editior-addons-import-button-inner{ 
	display:block;
	cursor: pointer;
	filter: blur(0px);
}

.responsive-block-editior-addons-import-button-outer:hover img{
	filter: blur(3px);
}