@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body.toplevel_page_responsive_block_editor_addons {
    background: #f3f6ff;
}

.responsive-block-editor-addons-admin-page {
	font-family: 'Roboto', sans-serif;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}

img {
    max-width: 100%;
}

a:focus,a:hover {
    text-decoration: none;
}

.responsive-block-editor-addons-text-button {
    background: none;
    border: none;
    border-bottom: 1px solid;
    color: #89a4b9;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
}

.responsive-block-editor-addons-text-button i {
    margin-left: 4px;
}

.responsive-block-editor-addons-text-button:hover {
    border-bottom-color: rgba(0,0,0,0);
}

.responsive-block-editor-addons-pull-right {
    float: right;
}

.responsive-block-editor-addons-text-button.responsive-block-editor-addons-pull-right {
    margin-top: 15px;
}

.responsive-block-editor-addons-green-text {
    color: #5cc0a5;
    font-weight: 700;
}

.responsive-block-editor-addons-green-link {
    color: #5cc0a5;
    font-size: 16px;
}

.responsive-block-editor-addons-addon-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.responsive-block-editor-addons-addon-button .responsive-block-editor-addons-onboarding-button {
    min-width: 134px;
    text-align: center;
}

.responsive-block-editor-addons-wpforms-row .responsive-block-editor-addons-addon-icon {
    height: 100px;
    line-height: 98px;
    width: 100px;
}

.responsive-block-editor-addons-hidden {
    display: none;
}

.responsive-block-editor-addons-small {
    font-size: 12px;
}

.responsive-block-editor-addons-auth-info .responsive-block-editor-addons-dark {
    color: #393f4a;
    font-size: 16px;
    font-weight: 500;
}

.responsive-block-editor-addons-auth-info p {
    margin-top: 6px;
}

p>label {
    display: block;
}

p .responsive-block-editor-addons-info {
    margin-left: 4px;
}

.responsive-block-editor-addons-sublabel {
    font-weight: 400;
    color: #777;
    display: inline-block;
    margin-top: 7px;
    font-size: 14px;
}

.responsive-block-editor-addons-button {
    background: #f0793e;
	border: solid #f0793e;
	border-width: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
	font-size: 18px;
    padding: 20px 50px;
	text-transform: uppercase;
}

.responsive-block-editor-addons-bg-img {
    width: 100%;
    padding-top: 66%;
    position: relative;
}

.responsive-block-editor-addons-bg-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.responsive-block-editor-addons-logo {
    display: inline-block;
    width: 400px;
    max-width: 100%;
}

.responsive-block-editor-addons-logo .responsive-block-editor-addons-bg-img {
    padding-top: 21%;
}

.responsive-block-editor-addons-smile {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    vertical-align: middle;
}

.responsive-block-editor-addons-license-type-text {
    color: #777;
    font-weight: 700;
    margin-top: 16px;
}

.responsive-block-editor-addons-license-type-text a {
    color: #777;
    font-weight: 400;
}

.responsive-block-editor-addons-license-type-text .responsive-block-editor-addons-info {
    margin-left: 10px;
}

.responsive-block-editor-addons-welcome-container {
    width: 992px;
    margin: 0 auto;
    max-width: 100%;
}

.responsive-block-editor-addons-welcome-block {
    background: #fff;
    border: 1px solid #d6e2ed;
    margin: 25px 0;
    position: relative;
    text-align: center;
}

.responsive-block-editor-addons-welcome-block.responsive-block-editor-addons-welcome-block-first {
    padding-top: 50px;
}

.responsive-block-editor-addons-welcome-logo:after {
    width: 122px;
    padding-top: 102%;
    background-image: url(../images/Responsive-block-1.png);
    background-size: cover;
    margin: -1px 0 0 -1px;
}

.responsive-block-editor-addons-welcome-logo-container {
    position: absolute;
    top: -60px;
    width: 120px;
    height: 120px;
    left: 48%;
    margin-left: -45px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #d6e2ed;
}

.responsive-block-editor-addons-welcome-block-inner {
    padding: 40px;
}
.responsive-block-editor-addons-welcome-block-inner.full {
    padding-bottom: 45px;
}

.responsive-block-editor-addons-welcome-block-inner.responsive-block-editor-addons-welcome-features {
    padding-top: 0;
}

.responsive-block-editor-addons-welcome-block-inner h3 {
    color: #393f4c;
    font-size: 24px;
	font-weight: 500;
    margin: 0 0 20px;
    line-height: 1.4;
	text-transform:uppercase;
}

.responsive-block-editor-addons-welcome-block-inner p.responsive-block-editor-addons-subtitle {
    font-size: 16px;
	max-width: 85%;
	margin-right: auto;
    margin-left: auto;
}

.responsive-block-editor-addons-welcome-block-inner p.responsive-block-editor-addons-subtitle.features-block {
    font-weight: 500;
}

.responsive-block-editor-addons-welcome-block-inner p.responsive-block-editor-addons-subtitle.full {
	max-width: 100%;
	margin-top: 0;
}
.responsive-block-editor-addons-welcome-video iframe {
    width: 100%;
}

.responsive-block-editor-addons-button-wrap {
    margin: 20px auto 0;
    max-width: 590px;
}

.responsive-block-editor-addons-button-wrap .responsive-block-editor-addons-button {
    width: 100%;
}

.responsive-block-editor-addons-button-wrap:after {
    content: " ";
    clear: both;
    display: table;
}

.responsive-block-editor-addons-button:focus,.responsive-block-editor-addons-button:hover {
    background-color: #3a93dd;
    border-color: #2971a9;
    color: #fff;
}

.responsive-block-editor-addons-button.responsive-block-editor-addons-button-large {
    font-size: 18px;
    padding: 20px 27px;
	text-transform: uppercase;
}

.responsive-block-editor-addons-welcome-left {
    padding-right: 20px;
}

.responsive-block-editor-addons-welcome-right {
    padding-left: 20px;
}

@media (max-width: 782px) {
    .responsive-block-editor-addons-welcome-right {
        padding-top:25px;
    }
}

.responsive-block-editor-addons-welcome-left,.responsive-block-editor-addons-welcome-right {
    width: 50%;
    float: left;
}

@media (max-width: 782px) {
    .responsive-block-editor-addons-welcome-left,.responsive-block-editor-addons-welcome-right {
        width:100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.responsive-block-editor-addons-button.responsive-block-editor-addons-button-alt {
    background: #fff;
    border-color: #f0793e;
    color: #000000;
}

.responsive-block-editor-addons-welcome-features {
    padding-bottom: 0;
}

.responsive-block-editor-addons-welcome-feature {
    text-align: left;
    width: 50%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    margin-bottom: 25px;
	min-height: 100px;
}

@media (max-width: 782px) {
    .responsive-block-editor-addons-welcome-feature {
        width:100%;
    }
}

.responsive-block-editor-addons-welcome-feature:nth-child(2n) {
    padding-left: 15px;
    padding-right: 0;
}

@media (max-width: 782px) {
    .responsive-block-editor-addons-welcome-feature:nth-child(2n) {
        padding-left:0;
    }
}

@media (max-width: 782px) {
    .responsive-block-editor-addons-welcome-feature {
        padding-right:0;
    }
}

.responsive-block-editor-addons-welcome-feature .responsive-block-editor-addons-welcome-feature-img {
    width: 46px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 15px;
}

.responsive-block-editor-addons-welcome-feature .responsive-block-editor-addons-welcome-feature-img svg {
    width: 100%;
}

.responsive-block-editor-addons-welcome-feature .responsive-block-editor-addons-welcome-feature-text h4 {
    font-size: 16px;
    color: #393f4c;
    margin: 0;
}

.responsive-block-editor-addons-welcome-feature .responsive-block-editor-addons-welcome-feature-text p {
    font-size: 14px;
    margin-top: 5px;
	margin-left: 0;
}

.responsive-block-editor-addons-welcome-block-inner:after {
    content: "";
    display: table;
    clear: both
}

.responsive-block-editor-addons-welcome-block-footer {
    padding-bottom: 50px;
	padding-top: 0;
}

#footer-left {
    color: #393f4c;
}

#footer-left .responsive-block-editor-addons-no-text-decoration {
    text-decoration: none;
    color: #fdb72c;
    font-size: 14px;
}

#footer-left a {
    color: #f0793e;
}

.responsive-block-editor-addons-welcome-video-image {
    padding-top: 47%;
}

.responsive-block-editor-addons-welcome-video-image:after {
    background-image: url(../images/getting-started-responsive-block-video.jpg);
}

.responsive-block-editor-addons-quick-links {
    position: fixed;
    bottom: 50px;
    right: 50px;
    -webkit-box-shadow: 0 0 10px 0 #ababab;
    box-shadow: 0 0 10px 0 #ababab;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    z-index: 1000;
}

.responsive-block-editor-addons-quick-links-menu .responsive-block-editor-addons-quick-links-menu-item,
.responsive-block-editor-addons-quick-links.responsive-block-editor-addons-quick-links-open,.responsive-block-editor-addons-quick-links:focus,.responsive-block-editor-addons-quick-links:hover {
    -webkit-box-shadow: 0 0 15px 2px #ababab;
    box-shadow: 0 0 15px 2px #ababab
}

.responsive-block-editor-addons-quick-links-label {
    border-radius: 50%;
    background: #fff;
    border: 2px solid rgba(147,120,207,.21);
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px 6px 6px 8px;
    display: block;
	width: 80px;
    height: 80px;
    outline: none;
    cursor: pointer
}

.responsive-block-editor-addons-quick-links-open .responsive-block-editor-addons-quick-links-label .responsive-block-editor-addons-quick-link-title {
    opacity: 0;
    pointer-events: none;
	transition: all 0.5s ease;
}

.responsive-block-editor-addons-quick-links-close .responsive-block-editor-addons-quick-links-label .responsive-block-editor-addons-quick-link-title {
    opacity: 1;
}

.responsive-block-editor-addons-bg-img.responsive-block-editor-addons-quick-links-mascot {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    padding-top: 100%;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    display: block
}

.responsive-block-editor-addons-bg-img.responsive-block-editor-addons-quick-links-mascot:after {
    background-image: url(../images/Responsive-block-1.png)
}

.responsive-block-editor-addons-quick-links-open .responsive-block-editor-addons-bg-img.responsive-block-editor-addons-quick-links-mascot {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg)
}

.responsive-block-editor-addons-quick-links-menu {
    position: absolute;
    bottom: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    right: -999px;
    margin-bottom: 10px;
	bottom: 80px;
    transition: all 1s ease;
}

.responsive-block-editor-addons-quick-links.responsive-block-editor-addons-quick-links-open .responsive-block-editor-addons-quick-links-menu {
	right: 28px;
}

.responsive-block-editor-addons-quick-links-menu .responsive-block-editor-addons-quick-links-menu-item {
    display: block;
    width: 45px;
    height: 45px;
    background: #464564;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
    position: relative;
    -webkit-box-shadow: 0 0 10px 0 #ababab;
    box-shadow: 0 0 10px 0 #ababab;
    margin-bottom: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
	padding:20%;
}
.responsive-block-editor-addons-quick-links-menu .responsive-block-editor-addons-quick-links-menu-item img {
	width: 85%;
}

.responsive-block-editor-addons-quick-links-menu .responsive-block-editor-addons-quick-links-menu-item:hover {
    color: #fff;
    background: #50abee;
    -webkit-box-shadow: 0 0 15px 2px #ababab;
    box-shadow: 0 0 15px 2px #ababab
}

.responsive-block-editor-addons-quick-links-menu .responsive-block-editor-addons-quick-links-menu-item.responsive-block-editor-addons-show {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.responsive-block-editor-addons-quick-links-menu .responsive-block-editor-addons-quick-links-menu-item.responsive-block-editor-addons-quick-links-item-upgrade {
    background: #f0793e;
}

.responsive-block-editor-addons-quick-links-menu .responsive-block-editor-addons-quick-links-menu-item.responsive-block-editor-addons-quick-links-item-upgrade:hover {
    background: #509fe2;
}

.responsive-block-editor-addons-quick-link-title {
    position: absolute;
    right: 100%;
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
    background: #464564;
    border-radius: 5px;
    white-space: nowrap;
    padding: 6px 8px;
    display: block;
    top: 50%;
    margin-top: -12px;
    line-height: 1;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    outline: none
}

.responsive-block-editor-addons-admin-page,.responsive-block-editor-addons-admin-page * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.responsive-block-editor-addons-highlighted-text {
    color: #64bfa5;
    font-weight: 700
}

.responsive-block-editor-addons-bold {
    font-weight: 700
}

.responsive-block-editor-addons-bg-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain
}

#wpfooter {
    position: relative
}

#wpfooter:before {
    left: 20px;
    right: 20px;
    height: 1px;
    background: #d6e2ed;
    content: "";
    position: absolute;
    top: -12px
}

.responsive-block-editor-addons-admin-page .responsive-block-editor-addons-button:focus,.responsive-block-editor-addons-admin-page .responsive-block-editor-addons-button:hover {
    background-color: #3a93dd;
    border-color: #2971a9;
    color: #fff
}


.responsive-block-editor-addons-float-right {
    float: right
}

.responsive-block-editor-addons-welcome-video-image #welcome-video {
	/** Default lightbox to hidden */

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    padding: 30px;
    background-color: #00000065;
    z-index: 9999999;

}

.responsive-block-editor-addons-welcome-video-image #welcome-video .responsive-block-editor-addons-welcome-overlay-inner {
    width: 70%;
    height: 600px;
    margin-right: 8%;
    margin-left: auto;
    margin-top: 3%;
    padding: 40px;
    padding-top: 10px;
    background-color: #ffffff;
}


.responsive-block-editor-addons-welcome-video-image #welcome-video .responsive-block-editor-addons-welcome-overlay-inner span {
    float: right;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-right: -0.5em;
}
