.rbea-image-size-control-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    label {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: left;
        color: #666;
    }
    .rbea-image-size-options {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        margin-top: 8px;
        .rbea-image-size-option {
            width: 100px;
            height: 100px;
            border: solid 1px #D9D9D9;
            border-radius: 4px;
            cursor: pointer;

            svg {
                border-radius: 4px;
            }
        
            .thumbnail {
                padding: 35px;
            }
        
            .large {
                padding: 10px;
            }
        
            .medium {
                padding: 25px;
            }
        }

        .rbea-image-size-option:has(.is-active) {
            border-color: #007CBA;
            border-width: 2px;
        }
    }
}